{% load static %}
<head>
    <link rel="stylesheet", href="{% static "main/css/Home/Main.css" %}">
</head>


<div class="background">
    <img alt='sporim' class='photo-background' src="{% static "main/Photo/bg-spor.jpg" %}"/>
                <div class="background-filter">
                    <div class="container-main">
                        <div class="flex">
                            <div class="text-item1">
                                <h1 class='text-main'>Что такое “Cпорим“ ?</h1>
                                <p class='description-main'>Это уникальная Платформа, где можно поспорить на различные темы с реальными людьми и получить выгоду! Отныне Ваши решения легко превратятся в деньги, выберите интересующий Вас раздел “Споров” и участвуйте в увлекательных противостояниях прямо сейчас!</p>
                            </div>
                            <div class="text-item2">
                                <h1 class='text-main second'>В чем наша прозрачность ?</h1>
                                <p class='description-main'>Все просто. Все “Споры” и их исходы, вне зависимости от их вида и направления, открыты для всех пользователей и регулируются Платформой. Платформа “Спорим” является организатором и регулятором “Споров” между пользователями и берет комиссию от выигрыша за их проведение. Подробнее о правилах пользования Платформой</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>