{% load static %}
<head>
    <link rel="stylesheet" href="{% static "main/css/Home/Spor.css" %}">
</head>
<div class="background">
    <img alt='Spor' class='photo-background' src="{% static "main/Photo/bg-spor.jpg" %}"/>
    <div class="background-filter-spor">
        <div class="containet-Main-text-spor">
            <h1 class="Main-text-spor">Спор</h1>
        </div>
        <div class="container-sport">
            <div class="container-flex-spor">
                <ItemSpor/>
                <ItemSpor/>
                <ItemSpor/>
                <ItemSpor/>
                <ItemSpor/>
                <ItemSpor/>
                <ItemSpor/>
                <ItemSpor/>
            </div>
        </div>
    </div>
</div>