.photo-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: blur(3px);
}

.container-main {
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

.background-filter {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%,  rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.69) 100%);
}

.background {
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.text-item1 {
    width: 500px;
}

.text-item2 {
    text-align: end;
    width: 700px;


}

.text-main {
    display: block;
    color: #fff;
    font-size: 2vh;
    font-weight: 300;
    margin-bottom: 20px;
}

.second {
    margin-left: 250px;
}

.description-main {
    color: #fff;
    font-size: 30px;
    font-weight: 200;
}