
{#<div class="bg-item-loto" style="background: {{ card.color }}">#}
{#    <div class="description-loto">#}
{#        <img class="coin-loto" src="{% static "main/Photo/coin-loto.png" %}" alt="coin"/>#}
{#        <p class="main-text-loto">выигрыш 1000 ₽</p>#}
{#        <br>#}
{#        <div id="{{ card.id }}_time" class="main-text-loto"></div>#}
{##}
{##}
{##}
{#        {% if card in basket %}#}
{#            <button type="submit" class="btn-loto">Уже играете</button>#}
{#        {% else %}#}
{##}
{#            <button id="{{ card.id }}_submit" onclick="get_reqest({{ card.id }})" type="submit"#}
{#                    class="btn-loto">{{ card.stavka }}₽#}
{#            </button>#}
{##}
{#        {% endif %}#}
{##}
{##}
{#    </div>#}
{#</div>#}

<div class="home-pricing-card freePricingCard">
    <div class="home-container06"><span><date-time-primitive
            format="DD/MM/YYYY"
            date="Sun Apr 21 2024 16:02:26 GMT+0300 (Москва, стандартное время)"></date-time-primitive></span>
        <h1 class="home-banner-heading">{{ card.stavka }} ₽</h1><span><date-time-primitive
                date="Sun Apr 21 2024 16:02:26 GMT+0300 (Москва, стандартное время)"
                format="DD/MM/YYYY"></date-time-primitive></span></div>
    <div class="home-container07"><h1 class="home-banner-heading01 heading2">Выигрыш</h1>
        <h1 class="home-banner-heading02">{{ card.vsego }}₽</h1><span><date-time-primitive
                date="Sun Apr 21 2024 16:02:26 GMT+0300 (Москва, стандартное время)"
                format="DD/MM/YYYY"></date-time-primitive></span></div>
    {% if card.id in basket %}

    <button class="home-button02 buttonOutline">Уже играете
    </button>
    {% else %}
    <button id="{{ card.id }}_submit" onclick="get_reqest({{ card.id }})" type="submit" class="home-button02 buttonOutline">Оплатить
    </button>
    {% endif %}
</div>


<script>
    function Clock(id) {
        var countDownDate = new Date("Jan 5, 2025 15:37:25").getTime();

        var countdownfunction = setInterval(function () {
            var now = new Date().getTime();

            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            console.log(days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ");
            document.getElementById(id + "_time").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(countdownfunction);
                document.getElementById(id + "_time").innerHTML = "EXPIRED";
            }
        }, 1000);
    }


    function get_reqest(id) {
        var token = '{{csrf_token}}';
        var buttonClick = document.getElementById(id + "_submit");
        if (buttonClick.innerText === "Уже играете") {
            alert("Невозможно");
        } else {
            $.ajax({
                url: "game/" + id,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": token,
                },
                success: function (response) {
                    location.reload();
                },
                error: function (response) {
                    alert("Ошибка оплаты");
                }
            });
        }


    }
</script>
